/*Navigation bar*/

header {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 100px 1fr 2fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
    width: 100%;
    background-color: #68a357;
}

body{
    background-color: #e9edc9;
}

.logo img {
    display: flex;
    align-self: flex-start;
    margin: 0 0.25rem 0 1rem;
    width: 64px;
    height: auto;
}

h1 {
    display:flex; 
    font-size: 20px;
}


h3{
    text-align: center;
    font-size: 24px;
}

nav {
    display: flex;
    justify-content: flex-end
}

.navigation {
    display: flex;
    list-style: none;
    font-size: 16px;
}

.navigation li {
    flex: 1 1 100%;
}

.navigation a {
    display: block;
    color: var(--nav-link-color);
    padding: 20px;
    text-decoration: none;
}

.navigation a:hover {
    color: var(--nav-hover-link-color);
    font-weight: 700;
    text-decoration:none;
}
.about_me {
    display: flex;
    flex-direction: column;
    width: 500px;
    border: 1.5px solid;
    background-color: #ccd5ae;
    border-radius: 25px;
    overflow: hidden; 
}

h2 {
    text-align: center;
    background-color: #68a357;
    margin: 0; 
    padding: 2px 0; 
    border-radius: 25px 25px 0 0; 
}





.HSIMG{
    box-shadow: 0 0 30px gray;
}

