/*Navigation bar*/
header {
  display: grid;
  right: 0px;
  grid-template-columns: 100px 1fr 2fr;
  align-items: center;
  border-bottom: 1px solid #ccc;
  width: 100%;
  background-color: #68a357;
  height: fit-content;
  padding: 0;
  
}


body{
    background-color:#EDF0D1;
}

.logo img {
    display: flex;
    align-self: flex-start;
    margin: 0 0.25rem 0 1rem;
    width: 128px;
    height: auto;
}

h1 {
    display:flex; 
    font-size: 20px;
}

nav {
  display: flex;
  justify-content: flex-end; /* Corrected the missing semicolon */
}

.navigation {
  display: flex;
  list-style: none;
  font-size: 16px;
}

.navigation li {
  flex: 1 1 100%;
}

.navigation a {
  width: 100px;
  display: block;
  color: #000; 
  padding: 10px;
  text-decoration: none;
  text-align: center;
}

.navigation a:hover {
  background-color:#7CB06D;
  color: #000000; /* Changed to a solid color for readability */
}


div.gallery {
  margin: 5px;
  float: left;
  width: 180px;
  
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

figure{ 
  padding: 4px 4px 4px 4px;
  margin: 3px;
  border: 1px solid#777;
  background-color: #F3F5E0;
}