/*Navigation bar*/

header {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 100px 1fr 2fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
    width: 100%;
    background-color: #68a357;
}

body{
    background-color: #e9edc9;
}

.logo img {
    display: flex;
    align-self: flex-start;
    margin: 0 0.25rem 0 1rem;
    width: 64px;
    height: auto;
}

h1 {
    display:flex; 
    font-size: 20px;
}

nav {
    display: flex;
    justify-content: flex-end
}

.navigation {
    display: flex;
    list-style: none;
    font-size: 16px;
}

.navigation li {
    flex: 1 1 100%;
}

.navigation a {
    display: block;
    color: var(--nav-link-color);
    padding: 20px;
    text-decoration: none;
    
}

div.gallery {
  margin: 5px;
  float: left;
  width: 180px;
  
}


div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

figure{ 
  padding: 2px 2px 2px 2px;
  margin: 3px;
  border: 1px solid#777;
}